@model RegistroModel
@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Login";
}

@if (TempData["Mensagemerro"] !=null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}



<form asp-controller="Registro" asp-action="Entrar" method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" asp-for="Email" class="form-control" id="email" />
        @Html.ValidationMessageFor(X => X.Email)
    </div>
    
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password"asp-for="Password" class="form-control" id="Password">
        @Html.ValidationMessageFor(X => X.Password)
    </div>
    
    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
</form>

<div class="d d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" asp-controller="LoginNormal" asp-action="Criar" role="button">Adicionar Login</a>
    <a class="btn btn-primary" asp-controller="LoginAdmin" asp-action="index" role="button"> Login ADM </a>
</div>