@{
    ViewData["Title"] = "Painel do Administrador";
}

<h2>Bem-vindo ao Painel do Administrador!</h2>

<p>Aqui você poderá gerenciar o sistema, visualizar dados.</p>

<a href="/LoginAdmin">Sair</a>
