@model ServiConnect.Models.LoginAdmin

@{
    ViewData["Title"] = "ServiConnect ADM";
}

<h2>Login do Administrador</h2>

<form asp-action="Logar" method="post">
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <button type="submit">Entrar</button>
</form>

@if (TempData["Mensagem"] != null)
{
    <p style="color:green;">@TempData["Mensagem"]</p>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
